<div class = "row">
    <div class = "col-xs-12">
        <img [src] ="recipie.imagePath" style = 'max-height:300px;'/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
       <strong>{{recipie.name}}</strong> 
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class = 'dropdown show'>
            <button class = 'btn btn-primary dropdown-toggle show' role='button' appDropdownDirective >
                Manage Recipie
            </button>
            <div class="dropdown-menu">
                <a class = "dropdown-item" (click) = "sendToShoppingList()">To shopping list</a>
                <a class = "dropdown-item" [routerLink]="['edit']" routerLinkActive="router-link-active" >Edit recipie</a>
                <a class = "dropdown-item" (click) = "deleteRecipie()">Delete recipie</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{recipie.description}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Ingridients<br>
        <ul class = "list-group" *ngFor="let ingridient of recipie.ingridients">
            <li class = "list-group-item">{{ingridient.name}} - {{ingridient.amount}}</li>
        </ul>
    </div>
</div>